<!-- <link rel="stylesheet" type="text/css" href="/css/home.css"> -->
<link rel="stylesheet" type="text/css" href="<%=assetPath('css/home.css')%>">


    <h1>Homepage</h1>
    <section id="feed-post">
        <h1>Post</h1>
        <!-- if user is not login then form is not visible -->
        <% if(locals.user) {%>
        <form action="posts/create" id="new_post_form" method="POST" >
            <textarea name="content" cols="30" rows="5" placeholder="type here..."></textarea>
            <input type="submit" value="post">
        </form>
        <%}%>
        <div id="post-container">
            <ul>
            <% for(post of posts) { %>

                <%- include('_post') %>

  
            <%}%>
            </ul>
          </div>



    </section>
    <div class="chat_box">
        <%- include('_chat_box') %>
    </div>
<ul>
    <% for(u of all_users){%>

        <li>
            <a href="users/profile/<%=u.id%>"><%=u.name%></a>
        </li>


    
    <%}%>
</ul>
<!-- fetch this file from assest which contain ajax method to fetch data -->
<script src="/js/home_post.js"></script>
<script src="/js/toogle.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js" ></script>
<script src="/js/chat_engin.js"></script>

<% if(locals.user) {%>
<script>
    new ChatEngine('user-chat-box','<%= locals.user.email %>')
</script>

<% } %>
