<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- you can use root diarectory in index.js for /css/layout.css -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/layout.css"> -->
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/layout.css')%>">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <!-- you can use both below -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <!-- this style comes from sub pages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <%- style %>
    <title>
        <%=title%>
    </title>
</head>
<body>

    <!-- this is common layout part -->

    <%- include('_header'); %>

    

    <!-- you can write variable part here -->

    <%- body %>       
    
    <!-- this is also common layout part -->

    <%- include('_footer'); %>

    <!--   use flash with noty js for flash messege -->

    <script>
         <%if(flash.success && flash.success.length>0){%>

         new Noty({
               theme : 'relax',
               text : "<%= flash.success %>",
               type : 'success',
               layout : 'topRight',
               timeout : 1500

         }).show();

        <%}%>

         <%if(flash.error && flash.error.length>0){%>

         new Noty({
                 theme : 'relax',
                 text : "<%= flash.error %>",
                 type : 'error',
                 layout : 'topRight',
                 timeout : 1500

        }).show();

     <%}%>


    </script>
    
</body>
</html>